/* :root {
    --text-color: #FF0072;
}

body .reveal {
    background: black;
    font-family: "Source Sans Pro";
}
/* .reveal p, div.rendered_html */
/* .reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,.reveal h6 {
    color: var(--text-color);
    font-family: "Source Sans Pro" !important;
} */ 
